<%-include ../public/header%>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->


<%-include ../public/navbar%>

<%-include ../public/nav%>


<div class="content">

    <div class="container-fluid">

        <h2>信息编辑系统</h2>
        <form action="<%=host%>admin/user/editInfo"  enctype="multipart/form-data"  method="post" id="myform">
            <p><input type="hidden" value="<%=list[0]._id%>" name="id"></p>
            <p>姓名:<input type="text" value="<%=list[0].username%>" name="username"></p>
            <p>头像:
                <%if(list[0].face!=''&&list[0].face!=null){%>
                <img src="<%=list[0].face%>" width="40" height="40" alt="">
                <%}else{}%>
                <input type="file" name="face">
            </p>
            <p>年龄:<input type="text" value="<%=list[0].age%>" name="age"></p>
            <p>性别:
                <%if(list[0].sex=='1'){%>
                <input type="radio" value="1" name="sex" checked>男　　
                <input type="radio" value="2" name="sex">女
                <%}else{%>
                <input type="radio" value="1" name="sex">男　　
                <input type="radio" value="2" name="sex" checked>女
                <%}%>
            </p>
            <p>密码:
                <input type="text" value="<%=list[0].password%>" name="password">
            </p>
            <p>
                <input type="submit" value="修改">
            </p>
        </form>


        <!---->
        <!--<div class="row-fluid">-->

            <!--用户增加-->
            <!--<form action="<%=host%>admin/user/addInfo" method="post" id="myform">-->
                <!--<p>姓名:<input type="text" value="" name="username"></p>-->
                <!--<p>年龄:<input type="text" value="" name="age"></p>-->
                <!--<p>性别:-->
                    <!--<input type="radio" value="1" name="sex">男　　-->
                    <!--<input type="radio" value="2" name="sex">女-->
                <!--</p>-->
                <!--<p>-->
                    <!--<input type="submit" value="添加">-->
                <!--</p>-->
            <!--</form>-->

        <!--</div>-->
    </div>
</div>



<script src="<%=host%>lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function(){return false;});
    });
</script>

</body>
</html>







