<%-include ../public/header%>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->


<%-include ../public/navbar%>

<%-include ../public/nav%>


<div class="content">

    <div class="container-fluid">
        <div class="row-fluid">

         这是意见修改页面<br/>

            <form action="<%=host%>admin/advise/doedit" method="post">
                <%for(var i=0;i<list.length;i++) {%>
                    <label>
                        <input type="hidden" name="_id"  value="<%=list[i]._id%>"/>
                    </label>
                    <label>
                        意见标题　<input type="text" name="title" placeholder="标题" value="<%=list[i].title%>"/>
                    </label>
                    <label>
                        用户名称　<input type="text" name="username" placeholder="用户名称" value="<%=list[i].username%>"/>
                    </label>
                    <label>
                        内　　容　<input type="text" name="content" placeholder="意见内容" value="<%=list[i].content%>"/>
                    </label>
                    <label>
                        是否处理 <input type="radio" value="已处理" name="status" />已处理
                                 <input type="radio" name="status" value="未处理" checked/>未处理
                    </label><br/>
                <input type="submit"/>
                <%}%>
            </form>
        </div>
    </div>
</div>



<script src="<%=host%>lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function() {
        $('.demo-cancel-click').click(function(){return false;});
    });
</script>

</body>
</html>


